<%- include('../layouts/admin-header.ejs') %>


  <!-- <section class="login-form login-admin"> -->
  <div class="dash-content login-form login-admin">

    <form id="admin-login-form" action="/admin" method="post">

      <% error.forEach(function(err){ %>
        <div class="alert alert-danger" role="alert">
          <%= err %>
        </div>
        <%})%>
          <h3>Admin login</h3>
          <div class="inputBox">
            <span class="fas fa-user"></span>
            <input type="email" name="email" placeholder="Enter Admin's email" id="email">
          </div>
          <div class="inputBox">
            <span class="fas fa-lock"></span>
            <input type="password" name="password" placeholder="Enter Admin's password" id="password">
          </div>
          <input type="submit" value="sign in" class="btn">
          <!-- <div class="flex">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me">remember me</label>
          <a href="#">forgot password?</a>
      </div>
      <a href="/register" class="btn">create an account</a> -->
    </form>
  </div>
  </section>





  <%- include('../layouts/admin-footer.ejs') %>