<%- include('../layouts/user-header') %>

    <section class="about">

        <h1 class="title">Why Choose Us?</h1>

        <div class="row">

            <div class="image">
                <img src="/public/images/brand-img.png" alt="Our Brand">
            </div>

            <div class="content">
                <h3 style="text-transform: none;">The Best Online Cake-Hub in Haryana</h3>
                <p style="text-transform: none;">We recently embarked on our journey to bring delightful cakes and bakes
                    to your doorstep in Haryana.
                    We deliver our products across multiple districts in the state, ensuring that every celebration is
                    sweeter and more memorable.</p>
                <p style="text-transform: none;">Our cakes are not only unique and visually appealing but also
                    delicious. We pride ourselves on our
                    commitment to customer satisfaction and happiness. With our affordable prices, you can enjoy your
                    favorite treats without breaking the bank.</p>
            </div>

        </div>

        <div class="icons-container">

            <div class="icons">
                <i class="fa fa-truck"></i>
                <h3>Next-day Delivery</h3>
            </div>

            <div class="icons">
                <i class="fa fa-box"></i>
                <h3>Attractive Packaging</h3>
            </div>

            <div class="icons">
                <i class="fa fa-credit-card"></i>
                <h3>Easy Payments</h3>
            </div>

            <div class="icons">
                <i class="fa fa-phone"></i>
                <h3>24/7 Support</h3>
            </div>
        </div>

    </section>

    <%- include('../layouts/user-footer-section') %>
        <%- include('../layouts/user-footer') %>